/* Default styles for the resume */
body {
    background-color: #ffffff;
    color: #333333;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 50px;
}

h1 {
    color: red; /* Red color for H1 */
}

h2 {
    color: #333333;
}

p {
    margin-bottom: 25px;
}
